{% extends "common_code/base.html" %}
{% block title %}error 404{% endblock title %}\


{% block content %}
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                <h3 class="display-1">৪০৪</h3>
                <h4 class="mb-4">পেজ টি খুঁজে পাওয়া যাইনি !
                </h4>
                <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url 'home' %}">মূল পৃষ্ঠায় ফিরে যান</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
