{% extends "common_code/base.html" %}
{% block title %}Skills{% endblock title %}
{% load static %}

{% block content %}
<!-- Courses Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">কোর্সসমূহ</h6>
            <h1 class="mb-5">স্কিল ডেভেলপমেন্ট কোর্সসমূহ</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <!-- course item start -->
           {% for skill in skill_dev %}
           <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
               <div class="course-item bg-light">
                   <div class="position-relative overflow-hidden">
                       <img class="img-fluid" src="{{skill.course_banner.url}}" alt="">
                       <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                           <a href="{% url 'details' skill.id %}" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">বিস্তারিত</a>
                           {% if request.user.is_authenticated %}
                           <a href="{{skill.course_playlist_link}}" target="_blank" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">জয়েন করুন</a>
                           {% else %}
                           <a href="{% url 'signup' %}" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">জয়েন করুন</a>
                           {% endif %}
                       </div>
                   </div>
                   <div class="text-center p-4 pb-0">
                       <h3 class="mb-0"> <del><small style="font-size: 25px;">৳ {{skill.course_price}}</small></del> {{skill.discount_price}}</h3>
                       <div class="mb-3">
                           <small class="fa fa-star text-primary"></small>
                           <small class="fa fa-star text-primary"></small>
                           <small class="fa fa-star text-primary"></small>
                           <small class="fa fa-star text-primary"></small>
                           <small class="fa fa-star text-primary"></small>
                           <small>({{skill.total_review_person}})</small>
                       </div>
                       <h5 class="mb-4">{{skill.course_name}}</h5>
                   </div>
                   <div class="d-flex border-top">
                       <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>{{skill.course_instructor}}</small>
                       <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>{{skill.duration_hour}}</small>
                       <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>{{skill.total_student}}</small>
                   </div>
               </div>
           </div>
           {% endfor %}  
           <!-- course item end -->  
        </div>
    </div>
</div>
<!-- Courses End -->


<!-- paginator -->
<nav aria-label="Page navigation example">
    <ul class="pagination" style="justify-content: center;">
      {% if skill_dev.has_previous %}
      <li class="page-item"><a class="page-link" href="/skills/?page=1">1</a></li>
      <li class="page-item">
        <a class="page-link" href="/skills/?page={{skill_dev.previous_page_number}}" tabindex="-1" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% endif %}

      {% for page in page_total %}
      <li class="page-item"><a class="page-link" href="/skills/?page={{page}}">{{page}}</a></li>
      {% endfor %}

      {% if skill_dev.has_next %}
      <li class="page-item">
        <a class="page-link" href="/skills/?page={{skill_dev.next_page_number}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
<!-- paginator -->
{% endblock content %}